@using WebMVC.Extensions

@{
    ViewBag.Title = "Trang chủ";
}

<!--====================  hero slider area ====================-->
<div class="hero-slider-area mb-40">

    <!--=======  hero slider wrapper  =======-->

    <div class="hero-slider-wrapper">
        <div class="ht-slick-slider slick-initialized slick-slider slick-dotted" data-slick-setting="{
                &quot;slidesToShow&quot;: 1,
                &quot;slidesToScroll&quot;: 1,
                &quot;arrows&quot;: false,
                &quot;dots&quot;: true,
                &quot;autoplay&quot;: true,
                &quot;autoplaySpeed&quot;: 5000,
                &quot;speed&quot;: 1000,
                &quot;fade&quot;: true
            }" data-slick-responsive="[
                {&quot;breakpoint&quot;:1501, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1} },
                {&quot;breakpoint&quot;:1199, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1} },
                {&quot;breakpoint&quot;:991, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1} },
                {&quot;breakpoint&quot;:767, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1} },
                {&quot;breakpoint&quot;:575, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1} },
                {&quot;breakpoint&quot;:479, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1} }
            ]">
            <div class="slick-list draggable">
                <div class="slick-track" style="opacity: 1; width: 3606px;">
                    <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 1202px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                        <div>
                            <div class="single-slider-item" style="width: 100%; display: inline-block;">
                                <div class="hero-slider-item-wrapper hero-slider-item-wrapper--fullwidth" style="background-image: url('/Upload/slider/637027205966226246_60800203_652766588501878_9053501755265908736_n.jpg');">

                                    <div class="container" style="z-index: 1">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="hero-slider-content">
                                                    <p class="slider-title slider-title--small text-white">Giảm 50% phí tư vấn</p>
                                                    <p class="slider-title slider-title--big-light text-white">
                                                        Tham khảo mẫu cửa phù hợp với gia đình bạn
                                                    </p>

                                                    <a class="theme-button hero-slider-button" href="https://www.facebook.com/hotline0931222775/?eid=ARA9810DqSWSelP0_k3STwbnMQyPwDgPA2tr3KxLxkAYiIm2RO-5ZtSBy_FZnmsfJtMMAVQUKVXXyYSh&amp;timeline_context_item_type=intro_card_work&amp;timeline_context_item_source=100025638885155&amp;fref=tag" tabindex="0">Chi Tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 1202px; position: relative; left: -1202px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1000ms ease 0s;" tabindex="-1">
                        <div>
                            <div class="single-slider-item" style="width: 100%; display: inline-block;">
                                <div class="hero-slider-item-wrapper hero-slider-item-wrapper--fullwidth" style="background-image: url('/Upload/slider/637014996223640223_2-1.jpg');">

                                    <div class="container" style="z-index: 1">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="hero-slider-content">
                                                    <p class="slider-title slider-title--small text-white">Vui quốc khánh cùng Minh Hoàng DL</p>
                                                    <p class="slider-title slider-title--big-light text-white">
                                                        Khuyến mãi chi phí thi công lên đến 50%
                                                    </p>

                                                    <a class="theme-button hero-slider-button" href="https://www.facebook.com/hotline0931222775/?eid=ARDmIGpsumBxgPRGXPWkdoGAv7Xg-jOGdxuXy36YBm9kOgAfZqNuAA5_D5fC0Ve95OkFqv3hl9TiTRg6&amp;timeline_context_item_type=intro_card_work&amp;timeline_context_item_source=100025638885155&amp;fref=tag" tabindex="-1">Chi Tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><div class="slick-slide" data-slick-index="2" aria-hidden="true" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" style="width: 1202px; position: relative; left: -2404px; top: 0px; z-index: 998; opacity: 0; transition: opacity 1000ms ease 0s;" tabindex="-1">
                        <div>
                            <div class="single-slider-item" style="width: 100%; display: inline-block;">
                                <div class="hero-slider-item-wrapper hero-slider-item-wrapper--fullwidth" style="background-image: url('/Upload/slider/637014995553015259_high-rise-building.jpg');">

                                    <div class="container" style="z-index: 1">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="hero-slider-content">
                                                    <p class="slider-title slider-title--small text-white">Nơi tạo dựng vẻ đẹp ngôi nhà</p>
                                                    <p class="slider-title slider-title--big-light text-white">
                                                        Minh Hoàng Đà Lạt
                                                    </p>

                                                    <a class="theme-button hero-slider-button" href="https://www.facebook.com/hotline0931222775/?eid=ARDmIGpsumBxgPRGXPWkdoGAv7Xg-jOGdxuXy36YBm9kOgAfZqNuAA5_D5fC0Ve95OkFqv3hl9TiTRg6&amp;timeline_context_item_type=intro_card_work&amp;timeline_context_item_source=100025638885155&amp;fref=tag" tabindex="-1">Chi Tiết</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><ul class="slick-dots" style="" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 3" tabindex="0" aria-selected="true">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 3" tabindex="-1">2</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 3" tabindex="-1">3</button></li></ul>
        </div>
    </div>

    <!--=======  End of hero slider wrapper  =======-->
</div>
<!--====================  End of hero slider area  ====================-->

<div class="container mb-40">
    <!--=======  section title  =======-->

    <div class="section-title-cus mb-20">
        <span class="group-icon"><i class="fas fa-door-open"></i></span>
        <h2>Cửa nhôm - nhựa lõi thép Minh Hoàng DL</h2>
    </div>

    <!--=======  End of section title  =======-->
    <div class="row my-5">
        <div class="col-lg-6">

            <p>
                Nhằm đáp ứng nhu cầu thị trường, <strong>cơ sở sản xuất cửa nhôm kính – cửa nhựa – cửa sắt Minh Hoàng DL</strong> đã mạnh dạn đầu tư công nghệ máy móc hiện đại, dây chuyển sản xuất tối tân nhất hiện này để đưa vào sản xuất các sản phẩm <strong>cửa nhôm kính – cửa nhựa – cửa sắt</strong> phục vụ quý khách hàng.
            </p>
            <p>
                Sở hữu đội ngũ nhân viên có kinh nghiệm, tay nghề cao, hết mình trong công việc, <strong>Minh Hoàng DL</strong> cung cấp dịch vụ trong toàn tỉnh Lâm Đồng và đem lại sự hài lòng hết tuyệt đối cho khách hàng.
            </p>
            <p>
                Với phương châm "CHẤT LƯỢNG TẠO NÊN SỰ UY TÍN" <strong>Minh Hoàng DL</strong> xin cam kết làm đúng làm đủ, luôn đặt lợi ích của khách hàng lên hàng đầu.
            </p>
            <div class="text-right">
                <a href="/home/about" class="btn btn-link text-danger btn-sm text-right font-weight-bold">Xem Thêm</a>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid w-100 mb-40" src="/Content/images/banner.png">
        </div>
    </div>
</div>

<!--====================  product double row slider area ====================-->
<div class="product-double-row-slider-area mb-40">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <!--=======  section title  =======-->

                <div class="section-title-cus mb-20">
                    <span class="group-icon"><i class="fas fa-door-open"></i></span>
                    <h2>Sản Phẩm Mới</h2>
                </div>

                <!--=======  End of section title  =======-->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!--=======  product double row slider wrapper  =======-->

                <div class="posts blog mb-5">
                    <div class="row">
                        @foreach (var product in ViewBag.ProductNew)
                        {
                            <div class="col-md-6 col-lg-3 mb-4">
                                <a href="/products/@product.MetaTitle" class="h-100 w-100">
                                    <div class="card card-product h-100 shadow border-0">
                                        <img class="card-img-top" src="@product.Image">
                                        <div class="card-body d-flex flex-column justify-content-between">
                                            <div>
                                                <h5 class="card-title">@product.Name</h5>
                                                <span class="text-muted small d-block">@product.Category.Name</span>
                                            </div>
                                            <span class="btn btn-outline-danger btn-block btn-sm mt-2">Xem Chi Tiết</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
                <!--=======  End of product double row slider wrapper  =======-->
            </div>
        </div>
    </div>
</div>
<!--====================  End of product double row slider area  ====================-->

<section class="mb-50" style="background: transparent url('/Content/images/bg/high-rise-building.jpg') center center/cover no-repeat local;">
    <div style="background-color: rgba(0, 0, 0, .6);">
        <div class="container py-5">
            <div class="row py-4">
                <div class="col-lg-6 mb-4">
                    <h2 class="font-weight-bold text-white"><span style="color: #ed1b24">MINH HOÀNG DL</span> - Nơi tạo dựng vẻ đẹp ngôi nhà !</h2>
                    <p class="text-white">Chuyên thiết kế, thi công và lắp ráp cửa nhựa - cửa nhôm cao cấp. Chính sách chiết khấu giá tốt đối với khách hàng thi công số lượng lớn!</p>
                </div>
                <div class="col-lg-6 text-lg-right">
                    <p class="text-white">
                        <i class="text-white mr-10">Hỗ trợ khách hàng 24/24</i>
                        @Html.ActionLink("LIÊN HỆ", "Contact", "Home", null, new { @class = "btn btn-danger px-5", @style = "background-color:#ed1b24" })
                        @*<a href="/home/contact" class="btn btn-danger px-5" style="background-color:#ed1b24">LIÊN HỆ</a>*@
                    </p>
                    <p class="h2 text-white mt-40">
                        <a href="tel:@ViewBag.SiteInfo.Phone" class="text-white">@Html.FormatPhoneNumber((string)ViewBag.SiteInfo.Phone)</a> -
                        <a href="tel:@ViewBag.SiteInfo.Phone2" class="text-white">@Html.FormatPhoneNumber((string)ViewBag.SiteInfo.Phone2)</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="blog-post-slider-area mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  section title  =======-->

                <div class="section-title-cus mb-20">
                    <span class="group-icon"><i class="fas fa-door-open"></i></span>
                    <h2>Ý Kiến Khách Hàng</h2>
                </div>

                <!--=======  End of section title  =======-->

                <div style="background: transparent url('/Content/images/bg/high-rise-building.jpg') center center/cover no-repeat local;">
                    <div style="background-image: linear-gradient(to right, rgba(237,27,36,.6), rgba(237, 27, 36, .9));">
                        <div class="carousel-controls testimonial-carousel-controls px-5 mx-lg-5 py-5">


                            <div class="testimonial-carousel slick-initialized slick-slider slick-dotted">
                                <div class="slick-list draggable">
                                    <div class="slick-track" style="opacity: 1; width: 6426px; transform: translate3d(-2754px, 0px, 0px);">
                                        <div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 918px;">
                                            <div>
                                                <div class="h5 font-weight-normal one-slide mx-auto" style="width: 100%; display: inline-block;">
                                                    <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                                        <img src="/App_Themes/alula/assets/img/avatar/cus3.jpg" class="testimonial-avatar">
                                                        <div class="blockquote-footer w-100 mb-20 text-white">Chú Nguyên (Khách sạn – Nguyễn Văn Trỗi)</div>
                                                        <div class="message text-center blockquote w-100 text-white">Đã tham khảo nhiều nơi và thấy MinhHoangdl có giá cả rất hợp lý, thi công nhanh gọn và rất nhiệt tình trong các công đoạn lắp đặt. Sẽ hợp tác tiếp ở các công trình sau</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="slick-slide" data-slick-index="0" aria-hidden="true" role="tabpanel" id="slick-slide20" style="width: 918px;" aria-describedby="slick-slide-control20" tabindex="-1">
                                            <div>
                                                <div class="h5 font-weight-normal one-slide mx-auto" style="width: 100%; display: inline-block;">
                                                    <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                                        <img src="/App_Themes/alula/assets/img/avatar/cus1.png" class="testimonial-avatar">
                                                        <div class="blockquote-footer text-white w-100 mb-20">Anh Tùng (công trình dân dụng - Mai Hắc Đế, Đà Lạt)</div>
                                                        <div class="message text-center blockquote text-white w-100">"Mình chỉ lắp cửa cho 2 phòng trong nhà, các nơi khác từ chối không làm vì công trình quá nhỏ. Ngược lại, đến với Minhhoangdl, các bạn tư vấn cực kỳ nhiệt tình, thi công đúng tiến độ. Cửa đẹp, chắc chắn. Rất hài lòng!"</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="slick-slide" data-slick-index="1" aria-hidden="true" role="tabpanel" id="slick-slide21" style="width: 918px;" aria-describedby="slick-slide-control21" tabindex="-1">
                                            <div>
                                                <div class="h5 font-weight-normal one-slide mx-auto" style="width: 100%; display: inline-block;">
                                                    <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                                        <img src="/App_Themes/alula/assets/img/avatar/cus2.jpg" class="testimonial-avatar">
                                                        <div class="blockquote-footer w-100 mb-20 text-white">Chị Hoàng anh (homestay – Khe Sanh,Đà Lạt)</div>
                                                        <div class="message text-center blockquote w-100 text-white">"Cực kỳ thích đội ngũ thi công của bên này, làm rất nhanh chóng và đúng hẹn dù không có chủ nhà trực tiếp giám sát. Sau khi thi công còn giúp mình dọn dẹp gọn gàng. Cảm ơn MinhHoangdl"</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" role="tabpanel" id="slick-slide22" style="width: 918px;" aria-describedby="slick-slide-control22">
                                            <div>
                                                <div class="h5 font-weight-normal one-slide mx-auto" style="width: 100%; display: inline-block;">
                                                    <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                                        <img src="/App_Themes/alula/assets/img/avatar/cus3.jpg" class="testimonial-avatar">
                                                        <div class="blockquote-footer w-100 mb-20 text-white">Chú Nguyên (Khách sạn – Nguyễn Văn Trỗi)</div>
                                                        <div class="message text-center blockquote w-100 text-white">Đã tham khảo nhiều nơi và thấy MinhHoangdl có giá cả rất hợp lý, thi công nhanh gọn và rất nhiệt tình trong các công đoạn lắp đặt. Sẽ hợp tác tiếp ở các công trình sau</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="slick-slide slick-cloned" data-slick-index="3" aria-hidden="true" tabindex="-1" style="width: 918px;">
                                            <div>
                                                <div class="h5 font-weight-normal one-slide mx-auto" style="width: 100%; display: inline-block;">
                                                    <div class="testimonial w-100 px-3 text-center d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                                        <img src="/App_Themes/alula/assets/img/avatar/cus1.png" class="testimonial-avatar">
                                                        <div class="blockquote-footer text-white w-100 mb-20">Anh Tùng (công trình dân dụng - Mai Hắc Đế, Đà Lạt)</div>
                                                        <div class="message text-center blockquote text-white w-100">"Mình chỉ lắp cửa cho 2 phòng trong nhà, các nơi khác từ chối không làm vì công trình quá nhỏ. Ngược lại, đến với Minhhoangdl, các bạn tư vấn cực kỳ nhiệt tình, thi công đúng tiến độ. Cửa đẹp, chắc chắn. Rất hài lòng!"</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 918px;">
                                            <div>
                                                <div class="h5 font-weight-normal one-slide mx-auto" style="width: 100%; display: inline-block;">
                                                    <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                                        <img src="/App_Themes/alula/assets/img/avatar/cus2.jpg" class="testimonial-avatar">
                                                        <div class="blockquote-footer w-100 mb-20 text-white">Chị Hoàng anh (homestay – Khe Sanh,Đà Lạt)</div>
                                                        <div class="message text-center blockquote w-100 text-white">"Cực kỳ thích đội ngũ thi công của bên này, làm rất nhanh chóng và đúng hẹn dù không có chủ nhà trực tiếp giám sát. Sau khi thi công còn giúp mình dọn dẹp gọn gàng. Cảm ơn MinhHoangdl"</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" tabindex="-1" style="width: 918px;">
                                            <div>
                                                <div class="h5 font-weight-normal one-slide mx-auto" style="width: 100%; display: inline-block;">
                                                    <div class="testimonial w-100 px-3 text-center  d-flex flex-direction-column justify-content-center flex-wrap align-items-center">
                                                        <img src="/App_Themes/alula/assets/img/avatar/cus3.jpg" class="testimonial-avatar">
                                                        <div class="blockquote-footer w-100 mb-20 text-white">Chú Nguyên (Khách sạn – Nguyễn Văn Trỗi)</div>
                                                        <div class="message text-center blockquote w-100 text-white">Đã tham khảo nhiều nơi và thấy MinhHoangdl có giá cả rất hợp lý, thi công nhanh gọn và rất nhiệt tình trong các công đoạn lắp đặt. Sẽ hợp tác tiếp ở các công trình sau</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><ul class="slick-dots" style="" role="tablist"><li class="" role="presentation"><button type="button" role="tab" id="slick-slide-control20" aria-controls="slick-slide20" aria-label="1 of 3" tabindex="-1">1</button></li><li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control21" aria-controls="slick-slide21" aria-label="2 of 3" tabindex="-1">2</button></li><li role="presentation" class="slick-active"><button type="button" role="tab" id="slick-slide-control22" aria-controls="slick-slide22" aria-label="3 of 3" tabindex="0" aria-selected="true">3</button></li></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--====================  blog post slider area ====================-->
<div class="blog-post-slider-area mb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  section title  =======-->

                <div class="section-title-cus mb-20">
                    <span class="group-icon"><i class="fas fa-door-open"></i></span>
                    <h2>Tin Tức Mới Nhất</h2>
                </div>

                <!--=======  End of section title  =======-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=======  blog post slider wrapper  =======-->


                <div class="blog-post-slider-wrapper">
                    <div class="ht-slick-slider slick-initialized slick-slider" data-slick-setting="{
                            &quot;slidesToShow&quot;: 3,
                            &quot;slidesToScroll&quot;: 1,
                            &quot;dots&quot;: false,
                            &quot;autoplay&quot;: false,
                            &quot;autoplaySpeed&quot;: 5000,
                            &quot;speed&quot;: 1000,
                            &quot;arrows&quot;: true,
                            &quot;prevArrow&quot;: {&quot;buttonClass&quot;: &quot;slick-prev&quot;, &quot;iconClass&quot;: &quot;ion-ios-arrow-left&quot; },
                            &quot;nextArrow&quot;: {&quot;buttonClass&quot;: &quot;slick-next&quot;, &quot;iconClass&quot;: &quot;ion-ios-arrow-right&quot; }
                        }" data-slick-responsive="[
                            {&quot;breakpoint&quot;:1501, &quot;settings&quot;: {&quot;slidesToShow&quot;: 3} },
                            {&quot;breakpoint&quot;:1199, &quot;settings&quot;: {&quot;slidesToShow&quot;: 3} },
                            {&quot;breakpoint&quot;:991, &quot;settings&quot;: {&quot;slidesToShow&quot;: 2} },
                            {&quot;breakpoint&quot;:767, &quot;settings&quot;: {&quot;slidesToShow&quot;: 2, &quot;arrows&quot;: false} },
                            {&quot;breakpoint&quot;:575, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1, &quot;arrows&quot;: false} },
                            {&quot;breakpoint&quot;:479, &quot;settings&quot;: {&quot;slidesToShow&quot;: 1, &quot;arrows&quot;: false} }
                        ]">
                        <button class="slick-prev slick-arrow slick-disabled" aria-disabled="true" style=""><i class="ion-ios-arrow-left"></i></button><div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 1508px; transform: translate3d(0px, 0px, 0px);">
                                @foreach (var blog in ViewBag.Blogs) 
                                {
                                    <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 377px;">
                                        <div>
                                            <div class="slider-single-post h-100" style="width: 100%; display: inline-block;">
                                                <div class="slider-single-post__image">
                                                    <a href="/blogs/@blog.Category.MetaTitle/@blog.MetaTitle" tabindex="0">
                                                        <img src="@blog.Image" class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="slider-single-post__content">
                                                    <h3 class="post-title"><a href="/blogs/@blog.Category.MetaTitle/@blog.MetaTitle" tabindex="0">@blog.Title</a></h3>
                                                    <div class="text2-overflow-dot mb-10">@blog.Content.Substring(0, 72)...</div>
                                                    <div class="post-meta">

                                                        <p class="post-date"><i class="fa fa-calendar"></i> @blog.UpdateDate.ToString("dd/MM/yyyy") </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div><button class="slick-next slick-arrow" style="" aria-disabled="false"><i class="ion-ios-arrow-right"></i></button>
                    </div>
                </div>

                <!--=======  End of blog post slider wrapper  =======-->
            </div>
        </div>
    </div>
</div>
<!--====================  End of blog post slider area  ====================-->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!--=======  section title  =======-->

            <div class="section-title-cus mb-20">
                <span class="group-icon"><i class="fas fa-door-open"></i></span>
                <h2>Liên Hệ</h2>
            </div>

            <!--=======  End of section title  =======-->
        </div>
    </div>
</div>

@{
    Html.RenderPartial("_Contact");
}
